{% extends "base.html" %}
{% block title %} Afficher PERSONNES {% endblock %}
{% block body %}
<div>
	<div>
		<table>
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom
						</th>
						<th class="" >
						  Prénom
						</th>
						<th class="" >
						  Date de naissance
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <td>
					  	{{ row.id_Personne }}
					  </td>
					  <td>
						{{ row.NomPers }}
					  </td>
					  <td>
						{{ row.PrenomPers }}
					  </td>
					  <td>
						{{ row.DateNaissPers }}
					  </td>
					  <td>
						<a href="{{ url_for('personnes_add') }}" role="button">Ajouter</a>
					  </td>
					  <td>
						<a href="{{ url_for('personnes_edit', id_personne_edit_html=row.id_Personne) }}" role="button">Edit</a>
					  </td>
					  <td>
						<a href="{{ url_for('personnes_select_delete', id_personne_delete_html=row.id_Personne) }}" role="button">Delete</a>
					  </td>
					<tr>
						<td>
							<a href="{{ url_for('gf_edit_personne_mail_selected', id_personne_mail_edit_html=row.id_Personne) }}" role="button">Modifier</a>
						</td>
						<td colspan="5">
							{{ row.PersAMail|default("PAS DE MAILS", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucune personne.
						</td>
						<td>
							<a href="{{ url_for('personnes_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
