<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TOPFish{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="navigation-header-global flex-align-center" style="background-color: #00aaff">
            <div class="navigation-header navigation-header-global flex-align-center" style="background-image: radial-gradient(closest-corner circle at center, #00aaff, #0082FF)">
                <a href="{{ url_for('home') }}" title="Hello test"><img src="{{url_for('static', filename='logo_topfish.png')}}" align="middle" width="120" height="40"/></a>
                <div class="nav-element">
                    <button class="bouton_header" onclick="window.location.href = '#';">Equipement</button>
                    <div class="bouton-header-options">
                        <div class="chevron-container">
                            <div class="chevron"></div>
                        </div>
                        <ul>
                            <li><a href="#">Ajouter du matériel</a></li>
                            <li><a href="#">Mon équipement</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav-element">
                    <button class="bouton_header" onclick="window.location.href = '{{ url_for('prises_card_afficher', asc=0) }}';">Prises</button>
                    <div class="bouton-header-options">
                        <div class="chevron-container">
                            <div class="chevron"></div>
                        </div>
                        <ul>
                            <li><a href="{{ url_for('upload_file') }}">Ajouter une prise</a></li>
                            <li><a href="#">Mes prises</a></li>
                            <li><a href="#">Découvrir</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav-element">
                    <button class="bouton_header" onclick="window.location.href = '{{ url_for('especes_afficher') }}';">Espèces</button>
                    <div class="bouton-header-options">
                        <div class="chevron-container">
                            <div class="chevron"></div>
                        </div>
                        <ul>
                            <li><a href="#">Par régions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav-element sign-in-button">
                    <button class="bouton_header" onclick="window.location.href = '';">Se connecter</button>
                </div>
                <div class="profile-btn-group">
                    <button class="profile-button" type="button" id="buttonProfile">
                        <div class="profile-icon-block">
                            <div class="icon-profile"></div>
                        </div>
                        <div class="flex-align-center">
                            <svg viewBox="0 0 18 18" style="height: 24px;width: 24px;" class="um-icon">
                                <path d="M12,7L6,7l3,4L12,7z"></path>
                            </svg>
                        </div>
                        <div class="profile-header-options" id="profileHeaderOptions">
                            <div class="chevron-container flex-align-center">
                                <div class="chevron chevron-profile"></div>
                            </div>
                            <ul>
                                <li><a href="#">Mon profile</a></li>
                                <li><a href="{{ url_for('personnes_mails_afficher_concat', id_personne_sel=0) }}">Personne</a></li>
                                <li><a  href="{{ url_for('mails_afficher') }}">Mail</a></li>
                                <li><a  href="#">Se déconnecter</a></li>
                            </ul>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        {% block header %} {% endblock %}
        {% include 'flash_messages.html' %}
        {% block body %}{% endblock %}
        <div>
            <footer>
                <a href="/">© TopFish</a>
                <a href="">Terms</a>
                <a href="">Privacy</a>
                <a href="">Security</a>
            </footer>
        </div>
        {% block javascript %}{% endblock %}
        <script>
              $("#buttonProfile").click(function(){
                if ($('#profileHeaderOptions').css('opacity') === '0'){
                  $( "#profileHeaderOptions" ).css({"top": "40px", "opacity": "1", "pointer-events": "all"});
                } else if ($('#profileHeaderOptions').css('opacity') === '1'){
                  $( "#profileHeaderOptions" ).css({"top": "30px", "opacity": "0", "pointer-events": "none"});
                };
              });
        </script>
    </body>
</html>