{% extends "base.html" %}
{% block title %}Delete PRISES{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="white">
            <form method="POST" action="{{ url_for('prises_delete') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID Prise</th>
                            <th>Photo</th>
                            <th>Poid</th>
                            <th>Taille</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_Prise_delete_html" value="{{ row.id_Prise }}"></td>
<!--                            <td>{{ row.PhotoPriseLink }}</td>-->
                            <td>{{ row.PoidPrise }}</td>
                            <td>{{ row.TaillePrise }}</td>
                            <td>{{ row.DatePrise }}</td>
                            <td>{{ row.HeurePrise }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}