{% extends "base.html" %}
{% block title %} Afficher PRISES {% endblock %}
{% block head %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block body %}
<div>
    {% for row in data %}
    <div style="background-image: url('../../static/img/up/{{ row.PrisePhoto }}');" class="prise-image">
    </div>
    <div class="btn-group">
            <a href="{{ url_for('prises_edit', id_Prise_edit_html=row.id_PriseAPhoto) }}" role="button">Edit</a>
            <a href="{{ url_for('prises_select_delete', id_Prise_delete_html=row.id_PriseAPhoto) }}" role="button">Delete</a>
    </div>
    <div class="prise-content flex-align-center">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            <h3>Détails de la prise</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Espèce</td>
                        <td>
                            <div>{{ row.NomEspece }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Méthode</td>
                        <td>
                            <div>{{ row.NomMethode }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Poid</td>
                        <td>
                            <div>{{ row.PoidPrise }} <i>kg</i></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Taille</td>
                        <td>
                            <div>{{ row.TaillePrise }} <i>cm</i></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>
                            <div>{{ row.DatePrise }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Heure</td>
                        <td>
                            <div>{{ row.HeurePrise }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            <h3>Conditions</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Temps</td>
                        <td>
                            <div>Ensoleillé et nuageux</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Température de l'air</td>
                        <td>
                            <div>17°C</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Direction du vent</td>
                        <td>
                            <div>Nord nord-est</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Vitesse du vent</td>
                        <td>
                            <div>6.00 km/h</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Pression atmosphérique</td>
                        <td>
                            <div>1022.00 mbar</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Humidité de l'air</td>
                        <td>
                            <div>73</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoidm9sa2lvIiwiYSI6ImNrNzV1bDM5ajB6Y2kzbG52MGtjYTl5aW4ifQ.kOlnW2MuCgHexEL1pEV5Dg';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
        });
        </script>
</div>
{% endblock %}
