{% extends "base.html" %}
{% block title %} Afficher PERSONNES {% endblock %}
{% block body %}
    <div class="home">
        
        <form method="POST" action="">

        <div>
            {{ msgHtml }}
        </div>
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de naissance</th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_Personne }}</td>
                    <td>{{ row.NomPers }}</td>
                    <td>{{ row.PrenomPers|default("", True) }}</td>
                    <td>{{ row.DateNaissPers|default("", True) }}</td>
                    <!--<td><img src={{ row.cover_link_film|default("", True) }} style="width:auto;max-height: 465px;" alt = "Covid-19 grand semi-confinement mod 104"></td>-->
                    <!--<td>{{ row.date_sortie_film|default("", True) }}</td>-->
                    <td> <a href="{{ url_for('personnes_edit', id_personne_edit_html=row.id_Personne) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('personnes_select_delete', id_personne_delete_html=row.id_Personne) }}">Delete</a> </td>
                    <td> <a href="{{ url_for('personnes_add') }}">Add</a> </td>
                </tr>
            {% endfor %}
        </table>
        </form>
    </div>
{% endblock %}